---
layout: base
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">Hi there! 👋</h1>
  </header>
  <div class="post-content">
    <p>I'm a software engineer based in San Diego, CA. My focus is full-stack web development.</p>
    <p>I have experience building front-end web applications in React, ClojureScript and Vue.</p>
    <h3>Fun</h3>
    <p>My hobbies include <a href="/design"> drawing</a>, <a href="/misc#readinglist">reading</a>, worldbuilding, playing video games (especially fighting games!), and weight training. Outside of engineering, I enjoy learning about a variety of topics including psychology, history, and languages.</p>
  </div>

</div>