---
layout: base
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title">Hi there! 👋</h1>
  </header>
  <div class="post-content">
      <p>I'm a business information systems professional and former software engineer based in San Diego, CA. I'm currently a graduate student in accounting information systems.</p>
    <h3>Fun</h3>
    <p>Outside of the professional world, my interests include <a href="/design"> drawing</a>, <a href="/misc#readinglist">reading</a>, <a href="/voiceover">voice over</a>, video games, gardening, running, and weight training.</p>
  </div>
</div>
